 /* RESET GENERALE */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
} 


/* UTILITY */

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.contenitore {
    display: flex;
    overflow-y: hidden;
}


/* ASIDE MENU' */

aside {
    width: 230px;
    height: calc(100vh - 70px);
    background: #000000;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.logogrande {
    width: 100%;
    height: 70px;
    padding: 20px;
}

.logogrande img {
    height: 31px;
}

.tasti {
    padding: 0px 0px 20px 20px;
}

.tasto-menu {
    width: 100%;
    margin: 5px 0px;
}

.tasti .tasto-menu i {
    font-size: 15px;
    margin-right: 5px;
}

.tasto-menu a {
    color: #6b6b6b;
    font-size: 10px;
    text-decoration: none;
    font-weight: 600;
}

.elenco-playlist {
    padding: 10px 20px 0px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.elenco-playlist li {
    color: #6b6b6b;
    font-size: 10px;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 0px;
    list-style: none;
    margin-bottom: 5px;
}

.titolo-menu {
    color: white;
    font-size: 10px;
    font-weight: 600;
    padding: 5px 20px;
    display: block;
}

.crea-playlist {
    color: #6b6b6b;
    font-size: 11px;
    font-weight: 600;
    padding: 5px 20px;
}

.crea-playlist i {
    color: black;
    padding: 5px;
    background-color: #6b6b6b;
    font-size: 14px;
    margin-right: 6px;
}

.crea {
    font-size: 11px;
}


.bottom-pack {
    width: 100%;
    padding: 20px;
}

.installa a {
    color: #6b6b6b;
    font-size: 10px;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 5px;
}

hr {
    color: #6b6b6b;
    margin: 10px 0px;
}

.nome-utente {
    display: flex;
    align-items: center;
}

.img-finestra img {
    border-radius: 50%;
    margin-right: 5px;
}

.nome-utente span {
    color: white;
    font-size: 10px;
    font-weight: 600;
}



/* MAIN SECTION */

main {
    width: calc(100% - 230px);
    background: rgb(20, 25, 34);
    padding-top: 70px;
    overflow-y: auto;
    height: 100%;
    /* max-height: 100vh; */
}


/* BANDONE TOP OPACO E TASTO UPGRADE */

.top {
    height: 70px;
    background: rgba(8, 11, 18, .5);
    position: fixed;
    text-align: right;
    padding: 20px;
    top: 0;
    width: calc(100% - 230px);
}

.contenitore-tasto-upgrade {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.upgrade {
    border: 2px white solid;
    padding: 8px 25px;
    font-size: 10px;
    text-decoration: none;
    border-radius: 20px;
    color: white;
    font-weight: 600;
}


/* MAIN CONTENT */

.main-section {
    width: 100%;
    background: #141922;
    color: #6b6b6b;
}


/* NAVIGATION BAR */

.nav-bar {
    flex-direction: row;
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav-bar-items-list {
    list-style: none;
    flex-direction: row;
    display: flex;
    padding: 5px;
}

.nav-bar-items-list li {
    margin: 5px;
    color: #6b6b6b;
    font-size: 10px;
    font-weight: 600;
}


/* CARD SECTION */

.card-section {
    padding: 20px;
}

.card-list {
    margin: 20px 0px;
}

.card-list li {
    width: calc(100% / 6 - 15px);
    margin: 8px 15px 8px 0px;
    list-style: none;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.card-section h2 {
    color: white;
}

.card h3 {
    font-size: 12px;
    color: white;
}

.card-section h4 {
    font-size: 10px;
    margin: 10px 0px;
}

.card-list {
    display: flex;
}

.round-img {
    border-radius: 50%;
}




footer {
    /* width: 100%; */
    height: 70px;
    background: #282828;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
}

.left,.right {
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left img {
    width: 35px;
    height: 35px;
    margin: 10px;
}

.left,.right, span {
    color: #6b6b6b;
    font-size: 9px;
    font-weight: 600;
}

.titolo-e-sub {
    display: flex;
    flex-direction: column;
}

.interno-left,.interno-right {
    display: flex;
    align-items: center;
}

#titolo {
    color: white;
}

.blocco.centrale {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

footer .blocco i {
    margin: 10px;
    font-size: 12px;
}

footer .centrale.blocco i {
    margin: 15px 10px 0px 10px;
    font-size: 12px;
    color: white;

}

.blocco.centrale #play {
    font-size: 20px;
}

.container {
    display: inline-block;
}

#progressBar {
    width: 300px;
    height: 2.5px;
    background-color: #6b6b6b;
    margin: 0px 20px;
    border-radius: 10%;
}

.sotto {
    margin-bottom: 15px;
}

.sotto span {
    color: white;
    font-size: 7px;
    font-weight: 600;
}

.white {
    color: white;
}

.barra-volume {
    height: 2.5px;
    width: 80px;
    background-color: #6b6b6b;
    margin: 0px 10px 0px 0px;
}

#volume {
    margin-right: 0px;
}

/* MEDIA QUERY */

