 /* RESET GENERALE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
} 


/* UTILITY */

.body {
    width: 100vw;
    height: 100vh;
}

.random {
    width: 100%;
    height: 40px;
    color: black;
    border: 1px solid rgba(250, 250, 250, .3);
}

.p-20 {
    padding: 20px;
}


/* HEADER */

.header {
    width: 100%;
    height: 70px;
    background: rgba(42, 157, 143, .3);
    position: fixed;
    text-align: right;
    padding: 20px;
}

.contenitore-tasto-upgrade {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.upgrade {
    border: 2px white solid;
    padding: 8px 25px;
    font-size: 10px;
    text-decoration: none;
    border-radius: 20px;
    color: white;
    font-weight: 600;
}


/* ASIDE MENU' */

.aside {
    width: 230px;
    height: calc(100vh - 70px);
    background: rgba(38, 70, 83);
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
}

.logogrande {
    width: 100%;
    height: 70px;
    padding: 20px;
}

.logogrande img {
    height: 31px;
}

.tasti {
    padding: 0px 0px 20px 20px;
}

.tasto-menu {
    width: 100%;
}

.tasto-menu a {
    color: #6b6b6b;
    font-size: 10px;
    text-decoration: none;
    font-weight: 600;
}

.elenco-playlist {
    padding: 0px 20px;    
}

.elenco-playlist li {
    color: #6b6b6b;
    font-size: 10px;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 0px;
    list-style: none;
}

.titolo-menu {
    color: white;
    font-size: 10px;
    font-weight: 600;
    padding: 5px 20px;
}

.crea-playlist {
    color: #6b6b6b;
    font-size: 11px;
    font-weight: 600;
    padding: 5px 20px;
}

.bottom-pack {
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: 0px;
    background-color:rgba(38, 70, 83);
}

.installa a {
    color: #6b6b6b;
    font-size: 10px;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 5px;
}

hr {
    color: #6b6b6b;
    margin: 10px 0px;
}

.nome-utente {
    display: flex;
    align-items: center;
}

.img-finestra img {
    border-radius: 50%;
    margin-right: 5px;
}

.nome-utente span {
    color: white;
    font-size: 10px;
    font-weight: 600;
}




/* MAIN SECTION */

.main-section {
    width: 100%;
    height: calc(100vh - 70px);
    background: rgba(233, 196, 106);
    overflow: auto;
    padding-top: 100px;
}

.footer {
    width: 100%;
    height: 70px;
    background: rgba(244, 162, 97);
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 2;
}